@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;

	-moz-text-size-adjust-100%;
	-ms-text-size-adjust-100%;
	-webkit-text-size-adjust-100%;
	-text-size-adjust-100%;
  font-family: sans-serif;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

form {
    display: inline-block;
    font-family: 'Cinzel';
}

.input-text {
 padding: 1.8em 2em;
 margin: auto;
 border-top: solid 1.5px lightgrey;
 border-left: solid 1.5px lightgrey;
 border-right: solid 1.5px lightgrey;
 border-top-right-radius: 12px;
 border-top-left-radius: 12px;
 background-color: rgb(242, 242, 242);
 width: 19em;
 text-align: center;
 overflow: hidden;
 background-image:url(../images/tumblr_nk50o3SEmz1qgn23wo1_1280.jpg);
 background-position: bottom;
 background-repeat: no-repeat;
 background-size: cover;
}

.list-box {
 padding: 1.8em 2em;
 margin: auto;
 border-bottom: solid 1px lightgrey;
 border-left: solid 1px lightgrey; 
 border-right: solid 1px lightgrey;
 background-color: #e2e2e2;
 width: 19em;
 overflow: hidden;
}

.list {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
font-family: 'Cinzel';
}

.delete {
 float: right;
}

.label-holder {
 font-weight: bold;
 font-size: 20px;
 display: block;
 color: white;
}

.main-holder {
 float: left;
 padding: .40em;
 width: 14em;
 margin: 0;
}

.button{
 float: right;
 text-align: center;
 margin: 0;
 width: 5em;
 padding: .50em;
 border: none;
 border-top-right-radius: 1px;
 border-bottom-right-radius: 1px;
 background-color: #e2e2e2;
 -webkit-transition: width 1s;
  font-family: 'Cinzel';
}

.button:hover {
 background-color: rgb(113, 113, 113);
}

.complete{
 text-decoration: line-through;
 color: darkgray;
}

