@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;

	-moz-text-size-adjust-100%;
	-ms-text-size-adjust-100%;
	-webkit-text-size-adjust-100%;
	-text-size-adjust-100%;
  font-family: sans-serif;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

.input-holder {
 padding: 1.8em 2em;
 margin: auto;
 border-top: solid 2px lightgrey;
 border-left: solid 1.5px lightgrey;
 border-right: solid 1px lightgrey;
 border-top-left-radius: 14px;
 border-top-left-radius: 14px;
 background-color: rgb(242, 242, 242);
 width: 19em;
 text-align: center;
 overflow: hidden;
}

.list-holder {
 padding: 1.8em 2em;
 margin: auto;
 border-bottom: solid 1px lightgrey;
 border-left: solid 1px lightgrey; 
 border-right: solid 1px lightgrey;
 background-color: rgb(250, 250, 250);
 width: 19em;
 overflow: hidden;
}